.certificate-header{
    background: url(../img/certificate.png) no-repeat; 
    margin: 25px 60px 0;
    background-size: cover;
    height: 821px;
    .certificate-block{
        margin: 126px 64px;
        .header{
            .header-img{
                text-align: center;            
                .img-block{
                    display: inline-block;
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
                .issn-no{
                        display: inline-block;
                        float: right;
                        transform: translate(10px,29px);
                }
            }
            .header-title{
                text-align: center;
                .sub-title{
                    font-family: cursive;
                    font-size: 22px;
                    color: #ffa500;
                    font-weight: bold;
                    padding: 0 !important;
                }
                h2{
                    margin: 0;
                    font-family: fantasy !important;
                    color: #333;
                }
            }
            .certificate-title{
                h2{
                    text-align: center;
                    color: #a94442;
                }
            }
            .certificate-content{
                .contents{
                    line-height: 40px;
                    font-family: monospace !important;
                    font-size: 20px;
                }
            }
            .footer-content{
                .address{
                   float: left;
                   color: #2196F3;
                   font-family: cursive;
                }
                .author{
                    float: right;
                }
            }
        }

    }
    
}