.college-docspage{
    .page-icon{
        img{
            margin: 30px;
        }
    }
    .page-title{
        margin: 30px;
    }
    .aboutusimg{
        img{
            width: 200px;
            margin: 15px;
            border: 1px solid #333;
            padding: 2px;
        }
    }
    .form-group{
        .download{
            margin: 15px;
        }
    }
}