/* Table of Content
==================================================
	#Home
	#Navigation
	#About
	#Service
	#Contact
*/
/*=================================================================
	Basic Setup
==================================================================*/

$color_1: #000;
$color_2: #fff;
$color_3: #028fcc;
$color_4: #333;
$font_family_1: 'Ubuntu', 'Arial', sans-serif;
$font_family_2: oswald;
$background_color_1: #333;
$background_color_2: transparent;
$background_color_3: #6cb670;
$background_color_4: #027db3;
$background_color_5: #2f383d;
$background_color_6: #fff;
$background_color_7: #333439;
$border_color_1: #6cb670;
#body{
    background-color: $background_color_6;
    font-family: $font_family_1;
    line-height: 1.5;
    color: $color_1;
    overflow-x: hidden;
    @media (min-width: 768px){
        .paddoff{
            padding: 0;
        }    
    }
    
    a {
        -webkit-transition: all .3s ease-in 0s;
        -moz-transition: all .3s ease-in 0s;
        -o-transition: all .3s ease-in 0s;
        transition: all .3s ease-in 0s;
        text-decoration: none;
        outline: 0;
        &:focus {
            text-decoration: none;
            outline: 0;
        }
        &:hover {
            text-decoration: none;
            outline: 0;
        }
    }
    iframe {
        border: 0;
    }
    h1 {
        font-family: $font_family_2;
        font-weight: 400;
    }
    h2 {
        font-family: $font_family_2;
        font-weight: 400;
    }
    h3 {
        font-family: $font_family_2;
        font-weight: 400;
    }
    h4 {
        font-family: $font_family_2;
        font-weight: 400;
    }
    h5 {
        font-family: $font_family_2;
        font-weight: 400;
    }
    h6 {
        font-family: $font_family_2;
        font-weight: 400;
    }
    .kill-margin-bottom {
        margin-bottom: 0 !important;
    }
    .btn {
        &:focus {
            color: $color_1;
            outline: 0;
        }
        &:active {
            &:focus {
                outline: 0;
            }
        }
    }
    .btn-links {
        //color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 14px 40px;
        border: 1px solid #6e6d6c;
        border-radius: 4px;
        &:focus {
            background-color: $background_color_4;
            color: $color_2;
        }
        &:hover {
            background-color: $background_color_4;
            color: $color_2;
        }
    }
    .btn-transparent {
        border: 1px solid #4e595f;
        &:focus {
            background-color: $background_color_2;
            border-color: $border_color_1;
        }
        &:hover {
            background-color: $background_color_3;
            border: 1px solid transparent;
            color: $color_2;
        }
    }
    #loading-mask {
        background: #333439;
        height: 100%;
        left: 0;
        opacity: 1;
        filter: alpha(opacity=100);
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999999999;
    }
    .loading-img {
        height: 100%;
        left: 0;
        position: fixed;
        top: 50%;
        width: 100%;
    }
    .border {
        border-top: 1px solid $background_color_1;
        height: 1px;
        margin: 15px auto 0;
        position: relative;
        width: 35%;
        &:before {
            background-color: $background_color_1;
            border: 1px ridge #fff;
            content: "";
            height: 10px;
            left: 50%;
            margin-left: -20px;
            position: absolute;
            top: -5px;
            width: 40px;
        }
    }
    .color {
        color: $color_3;
    }
    .sub-title {
        padding: 0 0 50px;
        >h3 {
            border-left: 3px solid #ddd;
            border-right: 3px solid #ddd;
            display: inline-block;
            padding: 5px 25px;
            text-transform: uppercase;
        }
    }
    .btn.active {
        &:focus {
            outline: 0;
        }
    }
}

/*=================================================================
	Home Slider
==================================================================*/

#home {
	position: relative;
    #slitSlider {
        .sl-slide-inner{
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
            h2{
                letter-spacing: 4px;
            }
        }
        .carousel-caption {
            padding: 0;
            display: table;
            height: 100%;
            width: 100%;
            min-height: 100%;
            left: 0;
            top: 0;
            z-index: 11;
            background-color: rgba(0,0,0,.5);
            a {
                font-size: 18px;
            }
            >div {
                vertical-align: middle;
                display: table-cell;
            }
            h2 {
                color: $color_2;
                font-family:  Oswald, sans-serif;
                font-size: 70px;
                font-weight: 700;
                margin-bottom: 40px;
            }
            h3 {
                color: $color_2;
                font-family:  Oswald, sans-serif;
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 59px;
            }
        }
    }
}

/*=================================================================
	Navigation
==================================================================*/
.navbar-inverse {
  background-color: $color_3;
  width: 100%;
  z-index: 99;
  border: 0 none;
  @media(min-width: 1200px){
    height: 70px;
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {
  height: auto;
  padding: 0;
  h1 {
        margin: 0;
        letter-spacing: 2px;
        color: $color_2;
        padding: 22px 12px;
        font-size: 22px;
  }
  .navbar-collapse {margin-top: 8px;}
}

.navbar-inverse .navbar-nav > li {
  > a {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 22px 15px;
    -webkit-transition: background .5s ease-in-out 0s;
    -moz-transition: background .5s ease-in-out 0s;
    -o-transition: background .5s ease-in-out 0s;
    transition: background .5s ease-in-out 0s;
  }
  &.current > a {
    color: #fff;
    background-color: #000;
  }
//   > a:hover {
//     color: $color_3;
//   }
}
.expend{
    color: #fff;
    background-color: #000;
}

.nav li{
    margin: 0 !important;
}
.nav ul {
  list-style: none;
  width: auto;
  border-bottom: 5px solid #2aacc8;
  z-index: 888;
}

.nav li a {
  display: block;
  padding: 10px 15px;
  color: #555;
  font-size: 13px !important;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.nav li:hover {
  background: rgba(0, 0, 0, 0.2);
    //border-top: 5px solid #2aacc8;
    color: #fff;
}

.nav li {
  position: relative;
}

// .nav li.active {
//   border-top: 5px solid #2aacc8;
//   background: #fff;
// }

.nav > li > a.parent {
  background: url(../images/arrow.png) no-repeat 15px 18px;
  padding: 10px 10px 10px 30px;
}

.nav > li > a.parent:hover {
  background: url(../images/arrow.png) no-repeat 15px 18px #fff;
  padding: 10px 10px 10px 30px;
}

.nav > li {
  float: left;
  margin: 0 10px;
}

.nav > li > a:hover {
  color: fff !important;
}

.nav > li.hover > ul {
  left: -1px;
  top: 40px;
}

.nav li li.hover ul {
  left: 100%;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -ms-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}

.nav > li > li > a {
  font-size: 0.85em;
  padding: 10px 20px;
  display: block;
  color: #555;
  background: #fff;
  position: relative;
  z-index: 9999;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  text-decoration: none;
  margin: 0;
  text-transform: lowercase;
}

.nav li li {
  border-top: none;
}

.nav li li:hover {
  border-top: none;
}

.nav > li > ul {
  position: absolute;
  left: -9999px;
  padding: 0;
  z-index: 9999;
  background: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    color: #fff !important;
    background-color: transparent;
}

/*******************Media Queries Starts Here*************/
@media (max-width: 1024px) {
  .nav li a {
    margin: 0 5px;
  }

  .nav > li.hover > ul {
    left: 4px;
  }

  ul.comment-list .desc {
    width: 89%;
  }
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #fff !important;
    color: #000 !important;
  }
  .nav > li {
    float: none !important;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-toggle{
     margin-top:20px !important;
  }
}
/*=================================================================
	About us section
==================================================================*/

#about{
     padding: 20px 0 0 0;
     h2{ letter-spacing: 2px;}
    .icon-box {
        position: relative;
        width: 160px;
        height: 92.38px;
        background-color: transparent;
        margin: 46.19px auto 60px;
        padding: 20px 0;
        border-left: solid 3px #ddd;
        border-right: solid 3px #ddd;
        -webkit-transform: translateZ(0px);
        -moz-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
        -o-transform: translateZ(0px);
        transform: translateZ(0px);
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        -moz-transition-property: transform;
        -o-transition-property: transform;
        transition-property: transform;
    &:hover {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    &:before, &:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 113.14px;
        height: 113.14px;
        background-color: inherit;
        left: 20.4315px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -moz-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        -o-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
    }
    &:before {
        top: -56.5685px;
        border-top: solid 4.2426px #ddd;
        border-right: solid 4.2426px #ddd;
    }
    &:after {
        bottom: -56.5685px;
        border-bottom: solid 4.2426px #ddd;
        border-left: solid 4.2426px #ddd;
    }
    }
    .title{
        h2{
            color: $color_4;
        }
    }
}

/*=================================================================
	Services section
==================================================================*/

#services {
    margin-top: 25px;
    .title {
        padding-bottom: 60px;
    }
    .service-block {
        padding: 50px 20px;
        margin-bottom: 40px;
        border-radius: 50px;
    }
    .service-icon {
        margin-bottom: 40px;
    }

    .service-block h3 {
        text-transform: uppercase;
    }
    .title{
        h2{
            color: $color_4;
        }
    }
}

/*=================================================================
	Contact
==================================================================*/

#contact-us{
    margin-top: 60px;
    padding: 70px 0 0;
    background: #027db3;
    .row{
        color: $color_2;
        a{color: $color_2;}
    }
    .contact-info p {
        margin-bottom: 25px;
    }

    .con-info {
    margin-bottom: 20px;
        i {
            float: left;
        }
        span {
            float: left;
            margin: -5px 0 0 15px;
        }
    }
}

/*=================================================================
	Our Portfolio section
==================================================================*/
.carousel-section{
    .our-portfoliosection{
        padding-bottom: 60px;
    }
}

/*=================================================================
	Footer section
==================================================================*/

    .social-icon {
    padding: 60px 0 35px;
    > ul {
        text-align: center;
        > li {
        display: inline-block;
        margin-right: 20px;
        > a {
            background-color: #26292e;
            display: block;
            height: 70px;
            width: 70px;
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            -webkit-transition: all 400ms ease-out 0s;
            -moz-transition: all 400ms ease-out 0s;
            -o-transition: all 400ms ease-out 0s;
            transition: all 400ms ease-out 0s;
            > i {
            color: #55606a;
            display: inline-block;
            font-size: 32px;
            line-height: 70px;
            margin: 0;
            opacity: 0.3;
            filter: alpha(opacity = 30);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            -webkit-transition: all 400ms ease-out 0s;
            -moz-transition: all 400ms ease-out 0s;
            -o-transition: all 400ms ease-out 0s;
            transition: all 400ms ease-out 0s;
            }
        }
        &:hover a {
            background-color: #6CB670;
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
            i {
            color: #fff;
            opacity: 1;
            filter: alpha(opacity = 100);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
            }
        }
        }
    }
    }

    .copyright {
        padding: 20px 0;
        color: #fff;
        > img {
            margin-bottom: 15px;
        }
    }
    .footer-bottom {
    background-color: #fff;
    padding: 20px 0 10px;
    }

    .footer-bottom a:hover {
    text-decoration: underline;
    }

    #scrollUp {
        border: 1px solid $color_2;
        background-color: $background_color_4;
        bottom: 15px;
        color: #fff;
        display: none;
        padding: 8px 12px;
        position: fixed;
        right: 20px;
        z-index: 600;
        // &:hover {
        //     background-color: $background_color_1;
        //     border: 1px solid $color_4;
        // }
    }
    
.viewpage-content{
    h2{
        text-align: center;
    }
}

.login-background{
    background-image: url(https://s13.postimg.org/8xs7irifb/education2.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .loginbox{  
        background: fff;
        color: black;    
        margin-top: 10%;
        margin-bottom: 10%;
        left: 0;
        padding: 20px;   
        box-shadow: 0 8px 50px -2px #000;
        border-radius:5px;

    }
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#navigation .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#navigation .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#navigation .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
// /* un fix the navbar when active so that all the menu items are accessible */
// .navbar.navbar-fixed-top.slide-active {
//     position: relative
// }
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
	#navigation .container {
	    margin: 0;
	    padding: 0!important;
	}
	#navigation .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#navigation .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: -1px;
	    z-index: 1000;
	}
	#navigation #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: 0;
	    margin: 0;
	}
	#navigation #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#navigation #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#navigation {
	    border-top: 0
	}
	#navigation.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#navigation #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 80%;
	    left: -80%;
	    background: #eee;
	}
	#navigation.navbar-inverse #navbar-height-col {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
	#navigation .navbar-form {
	    width: 100%;
	    margin: 8px 0;
	    text-align: center;
	    overflow: hidden;
	    /*fast clearfixer*/
	}
	#navigation .navbar-form .form-control {
	    text-align: center
	}
	#navigation .navbar-form .btn {
	    width: 100%
	}
}
@media (min-width:768px) {
    .nav li li a {
        text-transform: capitalize;
        font-size: 0.85em;
        border-bottom: 1px solid #e8ebf1;
        border-left: 1px solid #e8ebf1;
        border-right: 1px solid #e8ebf1;
    } 
	#page-content {
	    left: 0!important
	}
	.navbar.navbar-fixed-top.slide-active {
	    position: fixed
	}
	.navbar-header {
	    left: 0!important
	}
}

/***********************************Loader Overylay While Page Loading ***********************************/
#loader-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    #loader-loading {
        width: 72px;
        height: 72px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -28px 0 0 -25px;
    }
}


.wrap-scrolldownhoney {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 80%;
	transform: translate(-50%, -50%);
	.scrolldownhoney {
		border: 3px solid #fff;
		border-radius: 30px;
		height: 46px;
		margin: 0 auto 8px;
		text-align: center;
		width: 30px;
		.scrolldownhoney-c1 {
			animation-duration: 1.5s;
			animation-name: scrolldownhoney;
			animation-iteration-count: infinite;
			fill: #fff;
		}
		.scrolldownhoney-c2 {
			animation-duration: 1.5s;
			animation-name: scrolldownhoney;
			animation-iteration-count: infinite;
			fill: #fff;
		}
	}
	.scrolldownhoney-c2 {
		animation-delay: 0.75s;
	}
    .link-text{
        color: #fff;
        font-family: cursive;
        font-weight: bold;
        font-size: 18px;
        text-shadow: 0px 0px 20px #ffffff;
        filter: dropshadow(color=#ffffff, offx=0, offy=0);
        // border: 1px solid #ffffff;
        // border-radius: 4px;
        // padding: 4px;
    }
}

@-moz-keyframes "scrolldownhoney" {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}
@-webkit-keyframes "scrolldownhoney" {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}
@-o-keyframes "scrolldownhoney" {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}
@keyframes "scrolldownhoney" {
	0% {
		opacity: 0;
		transform: translate(0, -8px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 8px);
	}
}