.sub-heading{
    .header{
        padding: 15px;
        background: #333;
        border-radius: 20px 0 0 20px;
        margin-top: 25px;
        letter-spacing: 1px;
        h2,h4{margin: 0;color: #fff;}
        @media(max-width:767px){
            margin: 15px;
        }
    }
    .glance-tables{
        margin-top: 30px;
        .table-bordered{
            th{
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #fff;
            }
            th:nth-child(1){
                background-color: rgb(165, 42, 42);
            }
            th:nth-child(2){
                background-color: #333;
            }
        }
    }
}
/* Team
---------------------------------*/
$color_1: #fff;
$color_2: #55acee;
$color_3: #3b5998;
$color_4: #cb2026;
$color_5: #dd4b39;
$font_family_1: 'FontAwesome';
.editorial-board{
    .team-leader-block {
        display: inline-block;
    }
    .team-leader-box {
        // width: 24.66%;
        margin-top: 40px;
        // height: 490px;
        overflow: hidden;
        text-align: center;
        display: inline-block;
        span {
            margin-bottom: 24px;
            display: block;
        }
        // &:nth-of-type(3n&+0) {
        //     margin: 0;
        // }
    }
    .team-leader {
        width: auto;
        height: auto;
        position: relative;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 7px rgba(241,241,241,0.80);
        margin: 7px 7px 25px 7px;
        &:hover {
            .team-leader-shadow {
                box-shadow: inset 0px 0px 0px 148px rgba(17,17,17,0.80);
            }
            ul {
                display: block;
                opacity: 1;
            }
        }
        img {
            display: block;
            border-radius: 50%;
            width: 180px;
        }
        ul {
            display: block;
            opacity: 0;
            padding: 0;
            margin: 0;
            list-style: none;
            position: absolute;
            left: 0;
            top: 35%;
            width: 100%;
            text-align: center;
            margin-top: -14px;
            z-index: 15;
            transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -webkit-transition: all 0.6s ease-in-out;
            li {
                display: inline;
                margin: 0 11px;
                a {
                    font-family: $font_family_1;
                    display: inline-block;
                    font-size: 28px;
                    color: $color_1;
                    transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
                a.fa-twitter {
                    &:hover {
                        color: $color_2;
                    }
                }
                a.fa-facebook {
                    &:hover {
                        color: $color_3;
                    }
                }
                a.fa-pinterest {
                    &:hover {
                        color: $color_4;
                    }
                }
                a.fa-google-plus {
                    &:hover {
                        color: $color_5;
                    }
                }
            }
        }
    }
    .team-leader-shadow {
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        border-radius: 50%;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    @media only screen and (max-width: 767px){
        // .team-leader-box{ max-width:307px; width:auto; float:none; margin:0 auto;	}
        .team-leader-box:nth-of-type(3n){ margin:0 auto}
    }
    .cheif-editor{
        text-align: center;
        .Profile-details{
            text-align: left;
            transform: translate(30px,40px);
            width: 44%;
            display: inline-block;
            vertical-align: top;
            font-size: 17px;
        }
    }
}
.editors-civil{
    .team-container .col-sm-4{
        padding:60px 15px 0 15px;
    }
    .team-container .team-member{
        max-width:245px;
        margin:auto;
        position:relative;
        overflow:hidden;
        border: 1px solid #333;
    }


    .team-container figcaption{
        padding: 10px;
        text-align:left;
        text-transform:uppercase;
        width:100%;
        height:200px;
        border:1px solid #fff;
        border-top-color:transparent;
        margin:0;
        overflow: auto;
        word-wrap: break-word;
    }
    .team-container figcaption h4{
        font-size:22px;
        font-weight:700;
        padding-top:20px;
    }
    .team-container .member-name {
        font-size: 1.5em;
        font-weight: 700;
        margin: 0;
    }
    .team-container figcaption p{
        font-size: 1.125em;
    }
    .team-container .social-buttons{
        display:inline-block;
        margin:auto;
        text-align:center;
        width:100%;
    }

    .team-member .social-btn-container,
    .team-member .social-btn-container .social-btn-box{
        -webkit-transition:all .25s;
        -moz-transition:all .25s;
            -ms-transition:all .25s;
            -o-transition:all .25s;
                transition:all .25s;
    }

    .team-member .social-btn-container {
        position: absolute;
        top: 0px;
        margin: 0 auto;
        left: 0;
    }
    .team-member:hover .social-btn-container{
        background: rgba(0,0,0,.5);
    }
    .team-member .social-btn-container .team-socail-btn{
        overflow: hidden;
        position: relative;
        width:245px;
        height: 230px;
    }
    .team-member .social-btn-container .social-btn-box{
        position: absolute;

    }
    .team-member .social-btn-container .facebook-btn-container{
        bottom: 220px;
        right: 230px;
    }
    .team-member .social-btn-container .twitter-btn-container{
        bottom: 220px;
        left: 230px;
    }
    .team-member .social-btn-container .linkedin-btn-container{
        top: 220px;
        right: 230px;
    }
    .team-member .social-btn-container .github-btn-container{
        top: 220px;
        left: 230px;
    }

    .team-member:hover .social-btn-container .facebook-btn-container{
        bottom: 115px;
        right: 122px;
    }
    .team-member:hover .social-btn-container .twitter-btn-container{
        bottom: 115px;
        left: 122px;
    }
    .team-member:hover .social-btn-container .linkedin-btn-container{
        top: 115px;
        right: 122px;
    }
    .team-member:hover .social-btn-container .github-btn-container{
        top: 115px;
        left: 122px;
    }
    .team-container .social-buttons a{
        color:#fff;
        width:24px;
        height:24px;
        display:inline-block;
        font-size:24px;
        text-align:center;
    }
    .team-container .team-member figure,
    .team-container .team-member figcaption,
    .team-container .team-member img,
    .team-container .team-member .social-buttons{
        
        -webkit-transition:all .25s;
        -moz-transition:all .25s;
            -ms-transition:all .25s;
            -o-transition:all .25s;
                transition:all .25s;
    }
    .team-container .team-member:hover figure{
        background-color:#3498db;
        color:#fff;
    }
    .team-container .team-member:hover figcaption{
        border-color:#3498db;
        color:#fff;
    }

    .team-container .team-member:hover .social-buttons{
        top:90px;
    }
}
/* 2.2 - Social Button
------------------------------------------ */
.social-btn-container{
	text-align:center;
	margin:50px auto 0 auto;
}
.social-btn-container .social-btn-box{
	display:inline-block;
	width:60px;
	height:60px;

	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	     -o-transform:rotate(45deg);
	        transform:rotate(45deg);

	border:1px solid #fff;

	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	    -ms-border-radius:5px;
	     -o-border-radius:5px;
	        border-radius:5px;

	margin:15px;
	position:relative;
	overflow:hidden;
}
.social-btn-container .social-btn-box a{
	color:#fff;
	font-size:26px;
	line-height:80px;
	display:inline-block;
	width:80px;
	height:80px;
	position:absolute;
	top:-10px;
	left:-10px;

	-webkit-transform:rotate(-45deg);
	   -moz-transform:rotate(-45deg);
	    -ms-transform:rotate(-45deg);
	     -o-transform:rotate(-45deg);
	        transform:rotate(-45deg);
}
.social-btn-box,
.social-btn-box a{
	
	-webkit-transition:all .25s;
	   -moz-transition:all .25s;
	    -ms-transition:all .25s;
	     -o-transition:all .25s;
	        transition:all .25s;
}
.social-btn-box:hover{
	border-color:transparent;
}
.social-btn-box .facebook-btn:hover{
	background:#3B5998;
	color: #fff;
}
.social-btn-box .twitter-btn:hover{
	background:#55ACEE;
	color: #fff;
}
.social-btn-box .linkedin-btn:hover{
	background:#0077b5;
	color: #fff;
}
.social-btn-box .google-plus-btn:hover{
	background:#db514f;
	color: #fff;
}
.social-btn-box .youtube-btn:hover{
	background:#cc181e;
	color: #fff;
}
.social-btn-box .github-btn:hover{
	background:#2b2e30;
	color: #fff;
}
.social-btn-box .a:hover{
	background:#3498db;
	color: #fff;
}
/* 2.2 - Social Button
------------------------------------------ */
