.feespage{
    .content-one,.content-two{
        h2{
            color: #333;
        }
    }
    .content-two{
        h4{
            text-align: center;
        }
    }
    .payment-details{
        padding-top: 30px;
        .table-bordered{
            tr td:first-child{
                background: #a52a2a;
                color: white;
            }
        }
    }
    .table-bordered{
        .table-header{
            background: #a52a2a;
            color: white;
            th{
                text-align: center;
            }
        }
    }
    .widget_currency_converter{
        div{
            width: 250px!important;
            border-radius: 10px;
            font-size: 20px;
            .VmainContainer{
                .Vlabel{
                    font-size: 15px !important;
                    color: #000000 !important;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: Oswald !important;
                }
                .Vtextarea{
                    height: 30px;
                    border-radius: 5px;
                    padding-right: 10px;
                    border: 1px solid #000;
                }
                .VselectBox{
                        height: 30px !important;
                        border-radius: 5px;
                        border: 1px solid #000;
                }
                .Vtextarea{
                    resize: none;
                    color: #000 !important;
                }
                .Vmsg_1{
                    a{
                        font-size: 15px!important;
                    }
                }
            }
        }
    } 
}