.feespage{
    .content-one,.content-two{
        h2{
            color: #6CB670;
        }
    }
    .content-two{
        h4{
            text-align: center;
        }
    }
    .payment-details{
        margin: 0 auto;
        float: none;
        padding-top: 50px;
    }
}