.journal-creator,
.volume-creator,
.issue-creator,
.slider-creator,
.callfor_paperpage{
    .creator-content{
        .slider_image{
            img{
                width: 100px;
                height: 80px;
                margin-bottom: 20px;
                display: block;
            }
        }
    }
}
.actives{
    width: 70%;
    color: #333;
    padding-left: 10px;
    height: 41px;
}
#errorMsg{
    color: #ff0000;
}
.journal-creator,.slider-creator,.volume-creator,.issue-creator,.callfor_paperpage{
    padding: 33px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 15px;
    .wp-core-ui{
        .wp-editor-container{
            margin-top: 10px;
            .mce-tinymce.mce-container{
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 0;
            }
        }
    }
}