.login-page{
  .panel-login{
      border: 1px solid #333;
      margin: 0;
      .panel-title{
        text-align: center;
        font-family: 'oswald';
        font-size: 18px;
        a{
            color: #333;
        }
    }
    .seprator{
        border-left: 2px solid #333;
    }
    .hr-line{
        border-top: 1px solid #333;
    }
    .panel-body{
      #login-form,
      #register-form{
          padding: 20px;
        .input-group-addon{
            background-color: rgb(50, 118, 177);
            border-color: rgb(40, 94, 142);
            color: rgb(255, 255, 255);
        }
        .form-control:focus{
            background-color: rgb(50, 118, 177);
            border-color: rgb(40, 94, 142);
            color: rgb(255, 255, 255);
        }
        .form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
        #register-submit{
            margin-top: 20px;
        }
        .has-role{
            .form-control-static{
                cursor: pointer;
            }
        }
      }
    }
  }
}