.login-page{
  padding: 100px;
  .panel-login{
      background-color: #d9edf7;
      border: 1px solid #333;
      .panel-title{
        text-align: center;
        font-family: 'oswald';
        font-size: 18px;
        a{
            color: #333;
        }
    }
    .seprator{
        border-left: 2px solid #333;
    }
    .hr-line{
        border-top: 1px solid #333;
    }
    .panel-body{
      #login-form,
      #register-form{
        .form-control {
            background-color: transparent;
            border: 1px solid #4e595f;
            height: 38px;
            border-radius: 0;
            color: #333;
            &:focus {
                box-shadow: 0 0 0;
            }
            &::-webkit-input-placeholder {
                color: #ddd;
            }
            &:-moz-placeholder {
                color: #ddd;
            }
            &::-moz-placeholder {
                color: #ddd;
            }
            &:-ms-input-placeholder {
                color: #ddd;
            }
        }
      }
    }
  }
}