.procedure-content,.guidelines-content{
    p:first-child{
        margin-top: 35px;
        font-size: 18px;
    }
    p:last-child{
        margin-top: 10px;
        font-size: 18px;
    }
    .guidelines-points,.procedure-points{
        li{
            font-size: 16px;
            line-height: 35px;
            font-family: cursive;
        }
    }
}