/********************************News Bar *************************/
.newsbox{
	margin-top: 40px;
	//background-color: #2b2c30;
	.panel{
		// border: 1px solid #fff;
	}
	.panel-heading{
  		padding: 0;
		h3 {
			color: #fff;
			font-family: Oswald !important;
			margin: 0;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 2px;
			padding: 15px;
			font-size: 20px;
		}
		p{
			font-size: 18px;
    		font-weight: 400;
		}
	}
	.panel-body{
		background-color: #fff;
		padding: 0;
		color: #333;
		.demo1,.demo2{height: 300px !important;}
	}
	.panel-footer{
		//background-color: #2b2c30 !important;
		span{
			color: #333;
		}
	}
	.news-item{
		border-top: 1px solid #3F4045;
		font-weight: 400;
		padding: 20px;
		&:last-child {
			border-bottom: 1px solid #3F4045;
		}
		// &:nth-child(2n) {
		// 	background-color: #2F3035;
		// }
		table{border: 0;}
		td{vertical-align: middle;border: 0;}
		.news-content{
			color: #333;
			padding-left: 15px;
			a{
				color: #027db3;
			}
			}
	}
	.middle-content{
		p{
			font-size: 17px;
			text-align: justify;
		}
	}
	.demo1,.demo2{
		list-style: none;
		padding: 0;
	}
}