.paperstatuspage{
    .slider-listpage{
        span{
            margin: 12px;
        }
        span.active-status{
            background: #ff0000;
            padding: 7px;
            color: #fff;
            border-radius: 5px;
        }
    }
}

.resize-none{
    resize: none;
}

/***********************General Css for disable resizing textarea for all pages************************/
textarea {
    resize: none;
}