.paperstatuspage{
        span{
            margin: 12px;
            padding: 5px;
            border-radius: 5px;
        }
        span.active-status{
            background: #ff0000;
            padding: 7px;
            color: #fff;
            border-radius: 5px;
        }
        .btn-default{
            background: #e6e6e6;
        }
        .btn-magick {
            color: #fff;
            background-color: #bb39d7;
            border-color: #9a00cd;
        }
        .btn-pressure{
            color: #fff;
            background: #333;
            border: 1px solid #333;
        }
        .btn-review{
            background: #6f9810;
            color: #fff;
            border: 1px solie #6f9810;
        }
}

.resize-none{
    resize: none;
}

/***********************General Css for disable resizing textarea for all pages************************/
textarea {
    resize: none;
    width: 300px;
    height: 150px;
}