.slider-listpage{
    .slider-list-img{
        margin: 0 auto;
        display: block;
        height: 70px;
        width: 90px;
    }
    table{
        thead{
            tr{
                th{
                    text-align: center;
                }
            }
        }
        td{
            vertical-align: middle !important;
            text-align: center;
        }
    }
}
