/* HEADER */
$white: #fff;
$color_2: #d5d5d5;
$color_3: #000;
$font_family_1: Montserrat, sans-serif;
$background_color_1: #2d2d30;
$background_color_2: #29292c;
$background_color_3: #555;
$background_color_4: red;
$border_color_1: transparent;