@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
/* line 1, sass/sample.scss */
html {
  margin: 0;
}

/*************************
********Home CSS**********
**************************/
/* line 5, sass/sample.scss */
#home-slider {
  overflow: hidden;
  position: relative;
}

/* line 10, sass/sample.scss */
#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

/* line 24, sass/sample.scss */
#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* line 31, sass/sample.scss */
.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}

/* line 41, sass/sample.scss */
.caption .btn-start:hover {
  color: #fff;
}

/* line 45, sass/sample.scss */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 638px !important;
}

/* line 54, sass/sample.scss */
.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* line 64, sass/sample.scss */
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* line 67, sass/sample.scss */
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* line 73, sass/sample.scss */
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

/* line 77, sass/sample.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 81, sass/sample.scss */
.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 100, sass/sample.scss */
.left-control {
  left: -51px;
}

/* line 104, sass/sample.scss */
.right-control {
  right: -51px;
}

/* line 108, sass/sample.scss */
.left-control:hover,
.right-control:hover {
  color: #fff;
}

/* line 113, sass/sample.scss */
#home-slider:hover .left-control {
  left: 30px;
}

/* line 117, sass/sample.scss */
#home-slider:hover .right-control {
  right: 30px;
}

/* line 121, sass/sample.scss */
#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

/* line 136, sass/sample.scss */
.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 145, sass/sample.scss */
.navbar-right li.active a {
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 149, sass/sample.scss */
.navbar-brand h1 {
  margin-top: 5px;
}

/* line 153, sass/sample.scss */
.carousel-inner .item {
  background-image: url(../images/slider/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  background-size: cover;
}

/*****************footer*********/
/* line 162, sass/sample.scss */
footer {
  background-color: #0c1a1e;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
}

/* line 163, sass/sample.scss */
.footerleft {
  margin-top: 50px;
  padding: 0 36px;
}

/* line 164, sass/sample.scss */
.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

/* line 166, sass/sample.scss */
.footerleft p {
  color: #fff;
  font-size: 12px !important;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

/* line 167, sass/sample.scss */
.footerleft p i {
  width: 20px;
  color: #999;
}

/* line 170, sass/sample.scss */
.paddingtop-bottom {
  margin-top: 50px;
}

/* line 171, sass/sample.scss */
.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}

/* line 172, sass/sample.scss */
.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}

/* line 173, sass/sample.scss */
.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

/* line 174, sass/sample.scss */
.footer-ul i {
  margin-right: 10px;
}

/* line 175, sass/sample.scss */
.footer-ul li a:hover {
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #ff670f;
}

/* line 177, sass/sample.scss */
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* line 186, sass/sample.scss */
.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

/* line 187, sass/sample.scss */
.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

/* line 188, sass/sample.scss */
.icon {
  float: left;
  margin-right: 5px;
}

/* line 191, sass/sample.scss */
.copyright {
  min-height: 40px;
  background-color: #000000;
}

/* line 192, sass/sample.scss */
.copyright p {
  text-align: left;
  color: #FFF;
  padding: 10px 0;
  margin-bottom: 0px;
}

/* line 193, sass/sample.scss */
.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

/* line 194, sass/sample.scss */
.post p {
  font-size: 12px;
  color: #FFF;
  line-height: 20px;
}

/* line 195, sass/sample.scss */
.post p span {
  display: block;
  color: #8f8f8f;
}

/* line 196, sass/sample.scss */
.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

/* line 197, sass/sample.scss */
.bottom_ul li {
  float: left;
  line-height: 40px;
}

/* line 198, sass/sample.scss */
.bottom_ul li:after {
  content: "/";
  color: #FFF;
  margin-right: 8px;
  margin-left: 8px;
}

/* line 199, sass/sample.scss */
.bottom_ul li a {
  color: #FFF;
  font-size: 12px;
}

/*---------------------Login and Registration page---------------------------*/
/* line 203, sass/sample.scss */
body {
  /*padding-top: 90px;*/
}

/* line 206, sass/sample.scss */
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* line 212, sass/sample.scss */
.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

/* line 218, sass/sample.scss */
.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 227, sass/sample.scss */
.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}

/* line 231, sass/sample.scss */
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
}

/* line 242, sass/sample.scss */
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 250, sass/sample.scss */
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

/* line 258, sass/sample.scss */
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}

/* line 269, sass/sample.scss */
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

/* line 275, sass/sample.scss */
.forgot-password {
  text-decoration: underline;
  color: #888;
}

/* line 279, sass/sample.scss */
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

/* line 285, sass/sample.scss */
.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

/* line 296, sass/sample.scss */
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/*---------------------***************************----------------------*/
/* line 2, sass/slider-listpage.scss */
.slider-listpage .slider-list-img {
  margin: 0 auto;
  display: block;
  height: 70px;
  width: 90px;
}
/* line 11, sass/slider-listpage.scss */
.slider-listpage table thead tr th {
  text-align: center;
}
/* line 16, sass/slider-listpage.scss */
.slider-listpage table td {
  vertical-align: middle !important;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
